.banner_container{
  height: 400px;
  width: 100%;
  background-image: url(../img/cod.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner{
  height: 100%;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

.banner_h2{
  font-size: 3.25rem;
  font-weight: 700;
}

.banner_text{
  margin: 15px 0;
  font-size: 1.375rem;
  font-weight: 700;
}