.footer {
  background-color: #202020;
  color: var(--color--text);
}

.informacion_footer {
  display: flex;
  padding: 30px 10px;
}

.img_footer {
  display: flex;
  margin: auto;
  width: 50%;
  width: 200px;
}

.informacion_izq {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.contacto_tienda {
  width: 50%;
}

.politicas_tienda {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.link_footer {
  padding: 5px 0;
  text-decoration: none;
  color: #e7e7e7;
}

.link_footer:hover {
  text-decoration: underline;
  text-decoration-color: var(--color--btn);
  text-decoration-thickness: 2.5px;
}

.nombre_input,
.mensaje_textarea {
  margin: 10px 0;
  padding: 10px 5px;
  background-color: #131313;
  color: var(--color--text);
  font-size: 0.85rem;
  border: 1px solid #535353;
  resize: none;
}

.nombre_input:focus,
.mensaje_textarea:focus {
  border: 1px solid #fff;
}

.copyright_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.contacto_tienda {
  padding: 10px;
}

.form_footer {
  display: flex;
  flex-direction: column;
}

@media (max-width: 956px) {
  .informacion_footer {
    align-items: center;
  }
  .informacion_izq {
    flex-direction: column;
  }
  .img_footer {
    padding: 20px 0;
  }
  .link_footer {
    text-align: center;
  }
}

@media (max-width: 766px) {
  .informacion_footer{
    flex-direction: column;
  }
}