.header_container{
  background-color: var(--color--primary);
}

.header{
  display: flex;
  padding: 10px;
}

.header__logo-link{
  display: flex;
  align-items: center;
  margin: 0 50px 0 0;
  font-weight: 600;
  font-size: 1.7rem;
  text-decoration: none;
  color: #e8e8e8;
}

.header__logo-link:hover{
  color: #fff;
}

.header__logo-img{
  width: 70px;
  margin: 0 5px;
}

.header__search-input{
  width: 250px;
  padding: 8px 40px;
  border-radius: 30px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 15px 50%;
  background-color: #121212;
  color: var(--color--text);
  font-size: .85rem;
  border: 1px solid #121212;
}

.header__search-input:focus{
  outline: none;
  background-color: #202020;
  border: 1px solid #202020;
  color: #fff;
}

.header__nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}