.login{
  background-color: #121212;
  min-height: calc(100vh - 70px);
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_login{
  background-color: #202020;
  width: 470px;
  padding: 45px 60px;
  margin: 32px;
}

.form_login{
  display: flex;
  flex-direction: column;
}

.sesion_h2{
  font-size: 1.125rem;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.correo_input,
.pss_input {
  width: 100%;
  margin-bottom: 25px;
  padding: 10px 5px;
  background-color: #131313;
  color: var(--color--text);
  font-size: 0.85rem;
  border: 1px solid #535353;
  resize: none;
}

.correo_input:focus,
.pss_input:focus {
  border: 1px solid #fff;
}

.login_btn{
  width: 100%;
}