.products {
  background-color: #121212;
  color: #fff;
}

.products_c {
  padding: 50px 0;
}

.text-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.text-nav__link {
  color: #e8e8e8;
  text-decoration: none;
}

.text-nav__link:hover {
  color: #fff;
}

.container-product {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: auto;
  gap: 10px;
}

.product {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.product_img {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
}

.product__span {
  font-weight: bold;
  padding: 5px 0;
}

@media (max-width: 1146px) {
  .disable{
    display: none;
  }
}

@media (max-width: 956px) {
  .disable-2{
    display: none;
  }
}

@media (max-width: 766px) {
  .container-product {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 576px) {
  .container-product {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}